<div class="container ">
  <div class = jumbotron>
  <h1> Quote Vote</h1>
  </div>
  <hr>

  <div class="row ">
    <div class="col-md-6 bg-dark text-white">
      <div *ngFor = 'let quote of quotes; let i = index'>
        <div>
          <h4>{{quote.name}} made on {{quote.completeDate|date|uppercase}}</h4>
          <button (click) = 'toggleDetails(i)' class = "btn btn-outline-danger">author</button>
          <br>
          <button (click) = 'upVote()'><i class="fas fa-thumbs-up"></i></button>
          <br>
          <button (click) = 'downVote()'><i class="fas fa-thumbs-down"></i></button>
        </div>
        <div>
            <app-quote-author *ngIf = 'quote.showAuthor' [quote] = 'quote' (isComplete) = 'deleteQuote($event, i)'></app-quote-author>
        </div>
      </div>
    </div>
    <div class="col-md-6 bg-secondary text-white">
      <app-quote-form (addQuote) = "addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>
